body {
    padding: 0;
    margin: 0;
    background: dodgerblue;
}
div.parallax {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.card {
    background: white;
    border-radius: 4px;
    padding: 30px 45px;
    font-size: 16px;
    font-weight: 600;
    font-family: system-ui;
    box-shadow: 0 3px 4px rgba(0,0,0,.2);
}